/* Global Styles */
.body {
    font-family: Arial, sans-serif;
    background-color: rgb(229, 215, 196);
    margin: 100;
    padding: 100;
}

.logo {
    width: 250px;
    height: 150px;
    margin-left: 600px;
    
}
.h2 {
    text-align: center;
    color: #1b4d1d;
}

.linkindex{
    color: white;
}

.boxindex {
    background-color: #1b4d1d;
    width: 200px;
    margin:auto;
    padding: 30px;
    box-sizing: border-box;
    align-content: center;
    text-align: center; 
    color: white;
}
.linkdaftar {
    color: #1b4d1d;
}

.boxdaftar{
    background-color: white;
    width: 200px;
    padding: 30px;
    box-sizing: border-box;
    align-content: center;
    text-align: center; 
}

.myTable {
    margin: auto; 
}

.label, .pwd {
    line-height: 2.5;
    margin-left: 600px;
    margin-right: 200px;
    align-content: center; 
}

.boxtext, .boxpwd {
    height: 35px;
    width: 250px;
    margin-left: 600px;
    margin-right: 200px;
    align-content: center;
}

.password, .daftar {
    margin-left: 600px;
    margin-right: 200px;
    align-content: center;
    color: #1b4d1d;
}

.login {
    height: 35px;
    width: 250px;
    margin-left: 600px;
    margin-right: 200px;
    align-content: center;
    color: white;
    background-color: #1b4d1d;
}

.Register{
    color: #0a280b;
}

.checkbox {
    text-align: center;
}

